layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
        pane
        pane
    }
    /* floating_panes { */
    /*     pane command="gitui" */
    /* } */

    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
